{% extends 'speed/layout.html' %}

{% block title %}Contacts{% endblock %}

{% block body %} 
<div class="landing">
    <div style="display: flex; justify-content: flex-start; align-items: flex-start;" class="overlay">
        <h2>Contacts</h2>

        <p><i class="fa-sharp fa-solid fa-envelope"></i>  victorkimani77@gmail.com</p>
        <p><i class="fa-brands fa-linkedin"></i>  <a href="https://www.linkedin.com/in/victorkimani77">LinkedIn Profile</a></p>
        <p><i class="fa-brands fa-twitter"></i>  <a href="">Twitter</a></p>
    </div>
{% endblock %}

</div>
